<body>
  <mat-toolbar color="primary" class="header-toolbar">
    <span>Políticas de Cookies</span>
    <span class="spacer"></span>
    <button class="btn btn-dark" *ngIf="!isAuthenticated" (click)="onLogin()">Inicia Sesión</button>
    <button class="btn btn-dark" *ngIf="isAuthenticated" (click)="onLogout()">Logout</button>
  </mat-toolbar>
  
  <div class="main">
    <div class="content">
      <app-cookie-banner></app-cookie-banner>
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <footer class="footer">
    <p>&copy; Políticas de Cookie footer</p>
  </footer>
</body>
