body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.cookie-politicas-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  padding: 20px;
}

.cookie-definition, .cookie-policies {
  flex: 1;
  max-width: 50%;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.cookie-definition mat-card {
  background-color: #f5f5f5;
}

.policy-card {
  margin-bottom: 20px;
}

.no-cookies-message {
  text-align: center;
  color: gray;
  font-size: 14px;
  margin-top: 20px;
}

.cookie-policies {
  display: flex;
  flex-direction: column;
}

.cookie-definition p {
  line-height: 1.6;
}

.cookie-image-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.cookie-image {
  border-radius: 15px;
  max-width: 60%;
  max-height: 300px;
  height: auto;
  padding-bottom: 10px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .cookie-politicas-container {
    flex-direction: column; 
  }

  .cookie-definition, .cookie-policies {
    max-width: 100%; 
    flex: none; 
  }
}
