.container {
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .table-container {
    width: 100%;
    overflow: hidden;
  }
  
  .table-scroll {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap; 
  }
  
  table {
      width: 100%;
    }
  
  .example-button-row {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .example-flex-container {
      display: flex;
    }
    
    .example-button-container {
      margin: 10px;
    }
    .button-container {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px; 
    }
    
    