/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", "Roboco", sans-serif; background-color: #2562A5; }


body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
  }
  
  .main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2562A5;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .content {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #2562A5;
  }
  
  .footer {
    text-align: center;
    padding: 14px;
    background-color: #fdfdfd;
    color: rgb(7, 4, 4);
    width: 100%;
    margin-top: auto; 
  }
  
  .header-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0096DB;
  }
  
  .button {
    color: white; 
    background-color: #64d3ff;
    border-radius: 5px; 
    padding: 10px px; 
    margin-left: auto; 
    margin-right: auto;
    transition: background-color 0.3s ease;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  /* form validation */
.error-feedback {
  font-size: 0.9rem;
  color: crimson;
  margin: 0.3rem !important;
  margin-top: 0.1rem !important;
}

#main {
  margin-left: 240px;
}

/* side bar */
#sidebar {
  width: 240px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#sidebar li.nav-item a {
  color: #637381;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
}

#sidebar li.nav-item:hover {
  background-color: #007fff17;
  border-radius: 0.5rem;
}
  
/*banner*/

  @media (max-width: 600px) {
    header, footer {
      font-size: 14px; /* Reduce el tamaño de la fuente */
      padding: 10px; /* Ajusta el padding */
    }
  }